<style>
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
</style>
<section class="shop_section layout_padding">
    <div class="container" >
<h2>your purchase is completed  </h2>

if you want to continue then

<a href="/gallery/index" class="btn btn-danger">click here</a>
</div>
</section>